Proyecto_Automatas/build.xml
Proyecto_Automatas/manifest.mf
Proyecto_Automatas/nbproject/build-impl.xml
Proyecto_Automatas/nbproject/genfiles.properties
Proyecto_Automatas/nbproject/private/private.properties
Proyecto_Automatas/nbproject/project.properties
Proyecto_Automatas/nbproject/project.xml
Proyecto_Automatas/src/proyecto_automatas/vista/Ventana.form
Proyecto_Automatas/build/classes/.netbeans_automatic_build
Proyecto_Automatas/build/classes/.netbeans_update_resources
Proyecto_Automatas/build/classes/proyecto_automatas/ProyectoAutomatas.class
Proyecto_Automatas/nbproject/private/private.xml
Proyecto_Automatas/build/classes/proyecto_automatas/vista/Ventana.form
Proyecto_Automatas/build/classes/proyecto_automatas/vista/Ventana.class
Proyecto_Automatas/build/classes/proyecto_automatas/control/Control.class
